.btn {
    background: $grey;
    border-radius: 0;
    border: none;
    white-space: normal;

    &.active,
    &:active, {
        box-shadow: none;

        &.focus,
        &:focus, {
            outline: 0;
        }
    }

    &.btn--affordability {
        @include accent-color($affordability-accent, $affordability-dark, white);
    }

    &.btn--decent {
        @include accent-color($decent-accent, $decent-dark, $black);
    }

    &.btn--neighbourhood {
        @include accent-color($neighbourhood-accent, $neighbourhood-dark, $black);
    }

    &.btn--space {
        @include accent-color($space-accent, $space-dark, white);
    }

    &.btn--stability {
        @include accent-color($stability-accent, $stability-dark, $black);
    }
}

.btn--download {
    background: $black;
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 20px 60px 20px 20px;
    position: relative;

    &.btn-secondary {
        background: $dark-grey;
    }

    &:after {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        right: 15px;
        background: url(/livinghomestandard/assets/img/icon-download-white.svg);
    }

    &.hover,
    &:hover,
    &.focus,
    &:focus,
    &:active,
    &:active {
        color: white;
        background: $black;
    }
}

.btn--full-width {
    width: 100%;
}

.btn-outline {
    background: none;
    color: white;
    border: 1px solid white;
}
