.btn {
    background: $grey;
    border-radius: 0;
    border: none;

    &.active,
    &:active, {
        box-shadow: none;

        &.focus,
        &:focus, {
            outline: none;
        }
    }

}

.btn--full-width {
    width: 100%;
}
