.dimension {
    @media (min-width: 992px) {
        padding-top: 55px;
    }

    p {
        font-size: 16px;
        line-height: 24px;

        @media (min-width: 992px) {
            font-size: 18px;
            line-height: 30px;
        }
    }
}

.dimension-section {
    margin-bottom: 50px;
}

.dimension-stat {
    margin-bottom: 75px;
    float: right;
    width: 100%
}

.dimension-strapline {
    font-weight: bold;
    margin: 35px 0 0;

    .dimension & {
        line-height: 20px;
    }

    .dimension--lhs & {
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 16px;
    }

    .dimension-strapline__img {
        display: block;
        width: 140px;
        height: 140px;
        margin-bottom: 12px;

        .dimension--lhs & {
            width: 250px;
            height: 250px;
            margin-bottom: 15px;
            background: url(/livinghomestandard/assets/img/lhs-house-home-mobile-stat.svg);
        }

        .dimension--affordability & {
            background: url(/livinghomestandard/assets/img/lhs-house-affordability-mobile-stat.svg);
        }

        .dimension--decent & {
            background: url(/livinghomestandard/assets/img/lhs-house-decent-mobile-stat.svg);
        }

        .dimension--neighbourhood & {
            background: url(/livinghomestandard/assets/img/lhs-house-neighbourhood-mobile-stat.svg);
        }

        .dimension--space & {
            background: url(/livinghomestandard/assets/img/lhs-house-space-mobile-stat.svg);
        }

        .dimension--stability & {
            background: url(/livinghomestandard/assets/img/lhs-house-stability-mobile-stat.svg);
        }
    }
}

.dimension-title {
    font-size: 22px;
    margin: 32px 0 30px;

    @media (min-width: 992px) {
        margin-top: 115px;
        font-size: 32px;

        .dimension--lhs & {
            margin-top: 0;
            font-size: 34px;
        }
    }

    @media (min-width: 1200px) {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -24px;
            left: -80px;
            width: 56px;
            height: 56px;

            .dimension--affordability & {
                background: url(/livinghomestandard/assets/img/lhs-house-affordability-mobile.svg);
            }

            .dimension--decent & {
                background: url(/livinghomestandard/assets/img/lhs-house-decent-mobile.svg);
            }

            .dimension--neighbourhood & {
                background: url(/livinghomestandard/assets/img/lhs-house-neighbourhood-mobile.svg);
            }

            .dimension--space & {
                background: url(/livinghomestandard/assets/img/lhs-house-space-mobile.svg);
            }

            .dimension--stability & {
                background: url(/livinghomestandard/assets/img/lhs-house-stability-mobile.svg);
            }
        }
    }
}

.dimension-criteria {
    background: $light-grey;
    margin: 0;

    @media (min-width: 992px) {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 45px;
            background-color: $grey;
        }
    }

    .panel-title {
        font-size: 18px;
    }

    .panel {
        background: transparent;
    }

    li {
        font-weight: bold;
        margin-bottom: 20px;
    }
}

.dimension-infographic {
    background-color: $black;
    padding: 35px 0 38px;
    margin-bottom: 28px;
    text-align: center;

    .dimension-infographic__img {
        margin: 0 auto;
        padding: 20px;

        @media (min-width: 992px) {
            width: 470px;
            display: inline-block;
        }
    }

    .dimension-infographic__btn {
        position: relative;
        width: 90%;
        display: block;
        margin: 0 auto;
        max-width: 400px;
        padding: 8px 54px 8px 12px;
        font-size: 16px;
        text-align: left;
        text-decoration: underline;
        @extend .dimension-colours-outline;

        &:before {
            content: '';
            position: absolute;
            top: 8px;
            right: 8px;
            width: 40px;
            height: 40px;

            .dimension--lhs & {
                background: url(/livinghomestandard/assets/img/icon-fullscreen-lhs.svg);
            }

            .dimension--affordability & {
                background: url(/livinghomestandard/assets/img/icon-fullscreen-affordability.svg);
            }

            .dimension--decent & {
                background: url(/livinghomestandard/assets/img/icon-fullscreen-decent.svg);
            }

            .dimension--neighbourhood & {
                background: url(/livinghomestandard/assets/img/icon-fullscreen-neighbourhood.svg);
            }

            .dimension--space & {
                background: url(/livinghomestandard/assets/img/icon-fullscreen-space.svg);
            }

            .dimension--stability & {
                background: url(/livinghomestandard/assets/img/icon-fullscreen-stability.svg);
            }
        }

        @media (min-width: 992px) {
            float: right;
        }
    }

    .dimension-infographic__btn-small {
        display: block;
        font-size: 12px;
        margin-top: 1px;
    }
}

.dimension-chart {
    &.panel {
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 28px;
        }
    }

    .panel-heading {
        position: relative;

        @media (min-width: 992px) {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 100%;
                width: 100%;
                height: 100%;
                background: inherit;
            }
        }
    }

    .panel-body {
        margin-top: 10px;
        padding: 15px 5px;
        background-color: $lighter-grey;

        @media (min-width: 992px) {
            min-height: 240px;
        }
    }

    .progress {
        height: 32px;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 5px;
        background-color: $light-grey;
        transition: background-color .5s ease;

        &.active {
            @extend .dimension-colours-bg;

            .progress-bar {
                @extend .dimension-colours;
            }
        }
    }

    .progress-bar {
        padding-left: 10px;
        font-size: 16px;
        line-height: 32px;
        color: $text-color;
        text-align: left;
        background-color: $grey;
        transition: background-color .5s ease;
        box-shadow: none;
    }
}

.dimension-chart__buttons {
    padding: 0 10px;

    .btn {
        margin-bottom: 10px;
        margin-right: 10px;
        background-color: white;
        border: 1px solid $grey;

        &.active {
            cursor: default;
            @extend .dimension-colours;
        }
    }
}

.dimension-chart__filter {
    margin-bottom: 5px;
    font-size: 14px;
}

.dimension-downloads {
    margin-bottom: 0;

    > .container--wide {
        padding: 0;
    }

    @media (min-width: 992px) {
        position: relative;
        background-color: $dark-grey;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 48%;
            width: 100%;
            height: 100%;
            background-color: $black;
        }
    }
}

.dimension-blockquote {
    border-left: none;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
}

.dimension-case {
    .dimension-case__title {
        margin: 32px 0 22px;
        font-size: 24px;
        line-height: 32px;
    }

    .dimension-case__img {
        @media (max-width: 991px) {
            margin: 0 -15px;
        }

        img {
            max-width: 100%;
            display: block;
            margin: 0 auto;

            @media (min-width: 992px) {
                float: right;
                margin-left: 40px;
                margin-bottom: 40px;
                width: 48%;
            }
        }
    }
}

.dimension-recommends {
    background-color: $light-grey;
    padding: 25px 0;
    margin-bottom: 50px;

    .dimension-recommends__title {
        margin-bottom: 25px;

        @media (min-width: 992px) {
            font-size: 36px;
        }
    }

    @extend .dimension-colours;
}

.dimension-digest {
    background: $decent-accent;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0;

    #digest {
        margin-top: 10px;
    }

    @media (max-width: 991px) {
        .nav {
            display: none;
        }
        .dimension-digest__panel {
            display: block !important;
            opacity: 1;
        }
    }

    @media (min-width: 992px) {
        .dimension-digest__button {
            display: none;
        }

        .dimension-digest__panel .collapse {
            display: block;
            height: auto !important;
        }
    }

    .tab-content {
        margin: 0 -15px;
    }

    .nav-pills > li {
        > a {
            font-size: 32px;
            font-weight: bold;
            border-radius: 0;
            padding: 22px 0;
            color: white;
            background: none;

            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 100%;
                background: inherit;
            }

            @media (min-width: 992px) {
                &:after {
                    content: '';
                    display: block;
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    top: 22px;
                    right: 5px;
                    background: url(/livinghomestandard/assets/img/icon-arrow-right-white.svg);
                }
            }
        }

        &.active {
            a, a:hover, a:focus {
                background-color: $space-accent;
            }
        }
    }

    .dimension-digest__panel {
        padding: 0 15px;

        .lead {
            font-size: 18px;

            @media (min-width: 992px) {
                font-size: 20px;
            }
        }
    }

    .dimension-digest__button {
        color: white;
        background-color: transparent;
        font-size: 26px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 15px;
        padding: 15px;
        position: relative;
        width: 100%;

        &:after {
            content: '';
            display: block;
            width: 25px;
            height: 25px;
            position: absolute;
            top: 20px;
            right: 15px;
            background: url(/livinghomestandard/assets/img/icon-arrow-down-white.svg);
        }

        &.active {
            background-color: $space-accent;

            &:after {
                background: url(/livinghomestandard/assets/img/icon-arrow-up-white.svg);
            }
        }
    }
}

.dimension-explore {
    margin-bottom: 25px;

    @media (min-width: 992px) {
        .dimension--lhs & {
            text-align: center;
        }
    }

    .dimension-explore__title {
        font-size: 16px;
        margin: -10px 0 15px;

        @media (min-width: 992px) {
            font-size: 18px;
        }
    }

    .btn {
        margin-bottom: 10px;
        margin-right: 10px;

        @media (min-width: 992px) {
            font-size: 18px;
            padding: 14px 16px 14px;
        }
    }
}

.dimension-explore--footer {
    @media (min-width: 992px) {
        padding: 80px 0 110px;
        background: url(/livinghomestandard/assets/img/lhs-house.svg) 760px center no-repeat;
    }
}

.dimension-morehomes {
    background-color: $black;
    color: white;
    padding: 15px;

    .btn {
        background: $brand-red;
        color: white;
    }
}

.dimension-colours {
    .dimension--lhs & {
        @include accent-color($lhs-accent, $lhs-dark, $black);
    }

    .dimension--affordability & {
        @include accent-color($affordability-accent, $affordability-dark, white);
    }

    .dimension--decent & {
        @include accent-color($decent-accent, $decent-dark, $black);
    }

    .dimension--neighbourhood & {
        @include accent-color($neighbourhood-accent, $neighbourhood-dark, $black);
    }

    .dimension--space & {
        @include accent-color($space-accent, $space-dark, white);
    }

    .dimension--stability & {
        @include accent-color($stability-accent, $stability-dark, $black);
    }
}

.dimension-colours-bg {
    .dimension--lhs & {
        background-color: $lhs-dark;
    }

    .dimension--affordability & {
        background-color: $affordability-dark;
    }

    .dimension--decent & {
        background-color: $decent-dark;
    }

    .dimension--neighbourhood & {
        background-color: $neighbourhood-dark;
    }

    .dimension--space & {
        background-color: $space-dark;
    }

    .dimension--stability & {
        background-color: $stability-dark;
    }
}

.dimension-colours-outline {
    .dimension--lhs & {
        @include accent-outline($lhs-accent, $lhs-accent);
    }

    .dimension--affordability & {
        @include accent-outline($affordability-accent, $affordability-accent);
    }

    .dimension--decent & {
        @include accent-outline($decent-accent, $decent-accent);
    }

    .dimension--neighbourhood & {
        @include accent-outline($neighbourhood-accent, $neighbourhood-accent);
    }

    .dimension--space & {
        @include accent-outline($space-accent, $space-accent);
    }

    .dimension--stability & {
        @include accent-outline($stability-accent, $stability-accent);
    }
}
