.dimension {
    padding-top: 34px;
}

.dimension-section {
    margin-bottom: 50px;
}

.dimension-strapline {
    font-weight: bold;
    line-height: 22px;
    margin: 0;

    .dimension-strapline__img {
        display: block;
        width: 150px;
        height: 140px;
        margin-bottom: 10px;

        .dimension--affordability & {
            background: url(/dist/img/affordability-logo.jpg);
        }
    }
}

.dimension-title {
    font-size: 22px;
    margin: 30px 0;
}

.dimension-criteria {
    .panel-body {
        background-color: $light-grey;
    }

    li {
        font-weight: bold;
        margin-bottom: 5px;
    }
}

.dimension-infographic {
    background-color: $black;
    padding-bottom: 38px;
    margin-bottom: 28px;

    .dimension-infographic__img {
        margin: 0 auto;
    }

    .dimension-infographic__btn {
        width: 90%;
        display: block;
        margin: 0 auto;
        padding: 8px 12px;
        font-size: 16px;
        text-align: left;
        text-decoration: underline;
        @extend .dimension-colours-outline;
    }

    .dimension-infographic__btn-small {
        display: block;
        font-size: 12px;
        margin-top: 1px;
    }
}

.dimension-chart {
    &.panel {
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 28px;
        }
    }

    .panel-body {
        margin-top: 10px;
        padding: 15px 5px;
        background-color: $lighter-grey;
    }

    .progress {
        height: 32px;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 5px;
        background-color: $light-grey;
        transition: background-color .5s ease;

        &.active {
            background-color: $darker-grey;

            .progress-bar {
                @extend .dimension-colours;
            }
        }

    }

    .progress-bar {
        min-width: 42px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 32px;
        color: $text-color;
        text-align: left;
        background-color: $grey;
        transition: background-color .5s ease;
        box-shadow: none;
    }
}

.dimension-chart__buttons {
    padding: 0 10px;

    .btn {
        margin-bottom: 10px;
        margin-right: 10px;
        background-color: white;
        border: 1px solid $grey;

        &.active {
            @extend .dimension-colours;
        }
    }
}

.dimension-chart__filter {
    margin-bottom: 5px;
    font-size: 14px;
}

.dimension-downloads {
    margin-bottom: 0;
}

.dimension-blockquote {
    border-left: none;
    font-weight: bold;
    padding: 0;
}

.dimension-recommends {
    background-color: $light-grey;
    padding: 25px 15px;
    margin-bottom: 50px;

    .dimension-recommends__title {
        margin-bottom: 25px;
    }

    @extend .dimension-colours;
}

.dimension-explore {
    .dimension-explore__title {
        font-size: 16px;
    }

    .btn {
        margin-bottom: 10px;
        margin-right: 10px;
    }
}

.dimension-colours {
    .dimension--affordability & {
        @extend .affordability-colour;
    }

    .dimension--decent & {
        @extend .decent-colour;
    }

    .dimension--neighbourhood & {
        @extend .neighbourhood-colour;
    }

    .dimension--security & {
        @extend .security-colour;
    }

    .dimension--stability & {
        @extend .stability-colour;
    }
}

.dimension-colours-outline {
    .dimension--affordability & {
        @extend .affordability-colour-outline;
    }

    .dimension--decent & {
        @extend .decent-colour-outline;
    }

    .dimension--neighbourhood & {
        @extend .neighbourhood-colour-outline;
    }

    .dimension--security & {
        @extend .security-colour-outline;
    }

    .dimension--stability & {
        @extend .stability-colour-outline;
    }
}
