.dimension-title {
    font-size: 28px;
    margin: 32px 0 30px;

    .dimension-title__img {
        display: block;
        width: 60px;
        height: 60px;
        margin-bottom: 28px;
    }
}

.dimension-img {
    margin: 46px auto 42px;
    width: 260px;
    height: 238px;
}

.dimension-infographic {
    background-color: $dark-grey;
    margin-bottom: 20px;

    .dimension-infographic__img {
        margin: 0 auto;
    }

    .dimension-infographic__btn {
        background-color: $dark-grey;
        color: $affordability-accent;
        border-top: 1px solid $affordability-accent;
    }
}

.dimension-chart {
    .panel-body {
        padding: 20px 0 0;
    }

    .progress {
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 5px;

        &.active .progress-bar {
            background-color: $affordability-accent;
        }

    }

    .progress-bar {
        min-width: 35px;
        padding-right: 5px;
        text-align: right;
        background-color: $grey;
        transition: background-color .5s ease;
        box-shadow: none;
    }

    .btn.active {
        background-color: $affordability-accent;
    }
}
