.footer {
    background-color: $black;
    color: white;
    padding: 48px 0 30px;

    .nav-pills {
        a {
            color: white;
            line-height: 20px;
            padding: 8px 0;

            &:focus,
            &:hover {
                background-color: transparent;
            }
        }

        .active {
            a, a:hover, a:focus {
                background: none;
            }
        }
    }
}

.logo-footer {
    background-color: white;
    padding: 25px 0 10px;

    .logo {
        margin-bottom: 10px;

        @media (max-width: 991px) {
            &:first-child {
                margin: 15px 0 20px;
            }
        }

        @media (min-width: 992px) {
            display: inline-block;
            vertical-align: bottom;
            margin-right: 15px;
        }
    }

    .logo-footer__logos {
        @media (min-width: 992px) {
            float: right;
        }
    }

    .logo-footer__info {
        margin-top: 25px;
        line-height: 22px;
    }
}
