.footer {
    background-color: $black;
    color: white;
    padding: 48px 0 30px;

    .nav-pills {
        a {
            color: white;
            padding: 8px 0;

            &:focus,
            &:hover {
                background-color: transparent;
            }
        }

        .active {
            a, a:hover, a:focus {
                background: none;
            }
        }
    }
}

.logo-footer {
    background-color: $brand-red;
    color: white;
    padding: 25px 0 10px;

    .logo {
        margin-bottom: 10px;

        &:first-child {
            margin: 15px 0 20px;
        }
    }

    .info {
        margin-top: 40px;
        line-height: 22px;
    }
}
