@mixin accent-color($bg, $bg2, $color) {
    background: $bg;
    color: $color;

    &.btn {
        &:hover,
        &:active {
            background: $bg2;
            color: $color;
        }

        &:focus {
            background: $bg;
            color: $color;
        }
    }
}

@mixin accent-outline($border, $color) {
    border-color: $border;
    color: $color;
}
