@mixin accent-color($bg, $color) {
    background: $bg;
    color: $color;
}

@mixin accent-outline($border, $color) {
    border-color: $border;
    color: $color;
}

.affordability-colour {
    @include accent-color($affordability-accent, white);
}

.decent-colour {
    @include accent-color($decent-accent, $black);
}

.neighbourhood-colour {
    @include accent-color($neighbourhood-accent, white);
}

.security-colour {
    @include accent-color($security-accent, $black);
}

.stability-colour {
    @include accent-color($stability-accent, $black);
}

.affordability-colour-outline {
    @include accent-outline($affordability-accent, $affordability-accent);
}

.decent-colour-outline {
    @include accent-outline($decent-accent, $decent-accent);
}

.neighbourhood-colour-outline {
    @include accent-outline($neighbourhood-accent, $neighbourhood-accent);
}

.security-colour-outline {
    @include accent-outline($security-accent, $security-accent);
}

.stability-colour-outline {
    @include accent-outline($stability-accent, $stability-accent);
}
