.panel-group {
    .panel {
        border: none;

         + .panel {
            margin-top: 20px;
         }
    }

    .panel-heading {
        background-color: $grey;
        border-radius: 0;
        color: $text-color;
    }

    .panel-title > a {
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }

    .panel-heading--right {
        text-align: right;
    }

    .panel-default .panel-collapse .panel-body {
        border: none;
    }
}
