$black: #2a2b2d;
$darker-grey: #5c605f;
$dark-grey: #878787;
$grey: #dadada;
$light-grey: #e8e8e8;
$lighter-grey: #fbfbfb;

$text-color: $black;
$brand-red: #ed1c22;

$affordability-accent: #e30713;
$decent-accent: #90d4d5;
$neighbourhood-accent: #20b3c5;
$security-accent: #c8c92f;
$stability-accent: #c8c5b2;
