$black: #2a2b2d;
$darker-grey: #5c605f;
$dark-grey: #878787;
$grey: #dadada;
$light-grey: #e8e8e8;
$lighter-grey: #fbfbfb;
$light-blue: #a0d6d6;

$text-color: $black;
$affordability-accent: $light-blue;
